{% load static %}

<!-- Footer -->
<footer class="footer bg-white">
    <div class="container">
        <div class="row bg-white">
            <div class="col text-center">

                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x" style="color:#6b676d"></i
          ></a>
                <a href="#"><i class="fab fa-telegram text-info fa-2x"></i></a>
                <a href="#"><i class="fab fa-youtube text-danger fa-2x"></i></a>
            </div>
        </div>
    </div>
    </div>
</footer>
<!-- End Footer -->